<p>for-loop-contx-var works!</p>

@for(user of users; track user){

<!-- @if ($first || $last) {
<h1 style="background-color: red;">this is our{{$index+1}} user and name is {{user}}</h1>
}
@else {
<h1>this is our{{$index+1}} user and name is {{user}}</h1>

} -->

<!-- @if ($even) {
<h1 style="background-color: red;">this is our{{$index+1}} user and name is {{user}}</h1>
}
@else {
<h1 style="background-color: palegreen;">this is our{{$index+1}} user and name is {{user}}</h1>

} -->

<h1>{{$count}}</h1>
<h1>this is our{{$index+1}} user and name is {{user}}</h1>

}